<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="body">
        <div class="wrap">
            <h2>Sign up</h2>
            <form action="">
                <div class="input">
                    <i class='bx bxs-user'></i>
                    <input type="text" placeholder="Username.." required>
                </div>
                <div class="input">
                    <i class='bx bxs-user'></i>
                    <input type="text" placeholder="First Name.." required>
                </div>
                <div class="input">
                    <i class='bx bxs-user'></i>
                    <input type="text" placeholder="Last Name.." required>
                </div>
                <div class="input">
                    <i class='bx bx-mail-send'></i>
                    <input type="email" placeholder="Email.." required>
                </div>
                <div class="input">
                    <i class='bx bxs-lock-alt'></i>
                    <input type="password" placeholder="Password.." required>
                </div>
                <div class="input">
                    <i class='bx bxs-lock-alt'></i>
                    <input type="password" placeholder="Retype Password.." required>
                </div>
                <input type="submit" value="Register Now">
                <!-- icons  -->
                <div class="form-wrapper">
                    <div class="social">
                        <div class="align-fb">
                            <i class='bx bxl-facebook'></i>
                        </div>
                        <div class="align-gl">
                            <i class='bx bxl-google'></i>
                        </div>
                        <div class="align-tw">
                            <i class='bx bxl-twitter'></i>
                        </div>
                        <div class="align-in">
                            <i class='bx bxl-instagram-alt'></i>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>

</html>